.produtos-grid {
    display: grid;
    align-items: center;
    margin: 4em 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "aside section"
    "aside section"
    ;
    
}

#filtros-categorias {
    padding-left: 20px;
    width: 400px;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-group {
    column-gap: 2em;
    margin-top: 2em;
}

.card {
    padding: 0.5em;
}

.filtros-categorias {
    grid-area: aside;
}

.botao-add {
    border: none;
    background-color: var(--cor-verde);
    border-radius: 10px;
    padding: 8px;
}

.botao-add-esgotado {
    border: none;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}

.botao-add-esgotado:hover {
    background-color: darkred;
    cursor: not-allowed;
    transform: scale(1.05);
}


.botao-add:hover {
    background-color: black;
    color: var(--cor-verde);
    transition: .7s;
}

@media (max-width: 600px) {

    #tenis {
        grid-area: tenis;
    }

    #bambu {
        grid-area: bambu;
    }

    #filtros-categorias {
        width: 15rem;
    }

    .card-group {
        width: 15rem;
    }


    .produtos-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside aside"
        "tenis tenis"
        "bambu bambu"
        ;
    }

}

@media (min-width:575px) and (max-width:1000px) {
    #tenis {
        grid-area: tenis;
    }

    #bambu {
        grid-area: bambu;
    }

    #filtros-categorias {
        width: 15rem;
    }

    .card-group {
        width: 30rem;
    }


    .produtos-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "tenis"
        "bambu"
        ;
    }

}



    /* .produtos-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "aside aside"
        "div div"
        "div div"
        ;
        
    }


    .filtros-categorias {
        grid-area: aside;
    }

    .card-group {
        grid-area: div;
    } */

