.main-produtos .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.card  {
    border-radius: 10px;
}
.card-img-top img {
    border-radius: 10px;
}
